---
layout: default
---
<section class="page-section" id="about-odd">
  <div class="container">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-lg-10 col-lg-offset-1">

        <div class="row">
          <div class="col-xs"><h1>How we work</h1></div>
        </div>
        <div class="row principle">
          <div class="col-xs">
          <h4>General content about this section.</h4>
          </div>
          <h4>&nbsp;</h4>
          <h4>&nbsp;</h4>
          <h4>&nbsp;_</h4>
          <h4>&nbsp;</h4>
          <h4>&nbsp;_</h4>

        </div>



        <div class="row">
          <div class="col-xs"><h1>Principles</h1></div>
        </div>
        <div class="row principle">
          <div class="col-xs">
          <h2>1. Put residents first</h2>
          <h3>Design for users first by committing to fully understanding the needs and expectations of the community, and testing solutions with residents.</h3>
          </div>
        </div>
        <div class="row principle-details">
            <div class="col-sm">
              <h4>Research and test with residents</h4>
              <p>Conduct face-to-face research with residents, paired with quantitative data and industry practices. Seek out diverse populations when testing your work.</p>
            </div>
            <div class="col-sm">
              <h4>Create actionable content for residents to lead a full life</h4>
              <p>Shape content that helps residents accomplish their goals and take advantage of what Austin has to offer. Let accessibility and style standards be our guide.</p>
            </div>
            <div class="col-sm">
              <h4>Strengthen public trust with transparency</h4>
              <p>Develop workflows for projects to be "Open by Default." Strive for feedback loops that are frequent, convenient, and inclusive.</p>
            </div>
        </div>

        <div class="row principle">
          <div class="col-xs">
          <h2>2. Prioritize equity when planning features &amp; functionality</h2>
          <h3>Seek equitable outcomes in our processes for workflow and technology development across city departments to ensure the needs of residents are truly being met.</h3>
          </div>
        </div>
        <div class="row principle-details">
            <div class="col-sm">
              <h4>Prioritize resident needs over budget availability</h4>
              <p>Prioritize projects to provide the greatest value for residents, even when enterprise departments are offering more funding for their specific needs.</p>
            </div>
            <div class="col-sm">
              <h4>Get community feedback on the potential impacts of our actions</h4>
              <p>Check in regularly with community organizations across the city about how we can better serve and represent residents with digital services.</p>
            </div>            
            <div class="col-sm">
              <h4>Set aside funds for General Fund departments</h4>
              <p>Dedicate funding each year to improve content and functionality for digital services supporting General Fund departments.</p>
            </div>
        </div>

        <div class="row principle">
          <div class="col-xs">
          <h2>3. Recognize that digital services require teams and competencies, not just software</h2>
          <h3>Support research, design, delivery, and integration with expert teams and by empowering non-traditional designers and technologists.</h3>
          </div>
        </div>
        <div class="row principle-details">
            <div class="col-sm">
              <h4>Develop a shared strategy for how to support digital services</h4>
              <p>A document articulating our shared goals, how we’re going to accomplish them, who we need on our teams, and how we’ll be held accountable to reaching those goals.</p>
            </div>
            <div class="col-sm">
              <h4>Build digital services teams and improve workflows</h4>
              <p>Build teams of experts to create shared resources in order to meet digital service goals for residents, and get other departments to join in the movement.</p>
            </div>            
            <div class="col-sm">
              <h4>Identify opportunities for city-wide standards</h4>
              <p>Support templates, training, and standards across departments. Develop guardrails to provide autonomy while ensuring usability, accessibility, and effectiveness.</p>
            </div>
        </div>

        <div class="row principle">
          <div class="col-xs">
          <h2>4. Cultivate digital community</h2>
          <h3>Meet experts’ enthusiasm with access to learning opportunities and cross-departmental and cross-discipline connection.</h3>
          </div>
        </div>
        <div class="row principle-details">
            <div class="col-sm">
              <h4>Invest in shareable, discoverable research</h4>
              <p>Prioritize open solutions so we can share the source code. Provide clear methods for collaboration with digital communities within the City of Austin and beyond.</p>
            </div>
            <div class="col-sm">
              <h4>Contribute to and learn from the broader community</h4>
              <p>Open solutions to comments and code from interested citizens. Encourage collaborative research, design, and development through active community engagement.</p>
            </div>            
            <div class="col-sm">
              <h4>Create opportunities for ongoing learning</h4>
              <p>Provide opportunities for personal and professional growth. Empower employees to discover and cultivate new skill sets that align with organizational goals.</p>
            </div>
        </div>

        <div class="row principle">
          <div class="col-xs">
          <h2>5. Champion iterative, data-informed methods</h2>
          <h3>Adopt an agile approach to technology and workflow design that uses prototyping, testing, and iteration to learn and improve over time, rather than "redesign".</h3>
          </div>
        </div>
        <div class="row principle-details">
            <div class="col-sm">
              <h4>Establish safe spaces for prototyping &amp; testing</h4>
              <p>Cultivate a supportive technical and cultural environment in which new ideas can flourish. Empower trailblazers with tools to set clear success metrics, gather insight and data from potential solutions.</p>
            </div>
            <div class="col-sm">
              <h4>Empower staff to document and share the problems they’re finding and possible solutions</h4>
              <p>Encourage employees to document and share performance metrics, challenges, and corresponding solutions as they find them. Provide tools for teams to establish clear documentation on how to improve.</p>
            </div>            
            <div class="col-sm">
              <h4>Create and support modular, reusable components across departments</h4>
              <p>Develop solutions that can be useful across departments and initiatives. Avoid redundant systems  and “reinventing the wheel” with a repository of modular, reusable components.</p>
            </div>
        </div>        

        <div class="row principle">
          <div class="col-xs">
          <h2>6. Support vendors that can prove value to residents</h2>
          <h3>Purchase software one piece at a time, and avoid contracts that lock us into specific solutions, contractors, or vendors. Default to open source.</h3>
          </div>
        </div>
        <div class="row principle-details">
            <div class="col-sm">
              <h4>Break procurements into three-month chunks</h4>
              <p>We should never need to wait a year or more to see working software. Set up evaluations every three months to check if a product actually works for residents and be ready to iterate if it doesn't.</p>
            </div>
            <div class="col-sm">
              <h4>Solve current problems and learn what works</h4>
              <p>Focus development time on solving the key issues that are being experienced, and don’t get distracted by a ten-year plan.   </p>
            </div>            
            <div class="col-sm">
              <h4>Avoid vendor lock-in</h4>
              <p>Change contracts and processes to challenge our reliance on proprietary software and other systems that can reduce our ability to scale, upgrade, or negotiate in the future. </p>
            </div>
        </div>




        </div>

      </div>

      


    </div>
  </div>
</section>

