---
layout: default
---
<section class="page-section" id="principles">
  <div class="container">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-lg-10 col-lg-offset-1">

        <div class="row principles-intro">
          <div class="col-xs">
            <h1>Principles</h1>
            <h4>How we approach designing and delivering services for residents</h4>
          </div>
        </div>

        <div class="row principles-index">

            <div class="col-sm">
              <h4 class="index-link"><a href="#residents-first">1. Put residents first</a></h4>
              <h4 class="index-link"><a href="#prioritize-equity">2. Prioritize equity when planning features &amp; functionality
  </a></h4>
              <h4 class="index-link"><a href="#teams-over-software">3. Recognize that digital services require teams and competencies, not just software</a></h4>
            </div>

            <div class="col-sm">
              <h4 class="index-link"><a href="#digital-community">4. Cultivate a community of learning</a></h4>
              <h4 class="index-link"><a href="#iterative-methods">5. Champion iterative, data-informed methods
  </a></h4>
              <h4 class="index-link"><a href="#resident-value-vendors">6. Support vendors that can prove value to residents</a></h4>
            </div>

        </div>
</div>
</div>
</div>
</section>


<section class="page-section section--gray" id="residents-first">
        <div class="row principle col-xs-10 col-xs-offset-1 col-lg-10 col-lg-offset-1">
          <div class="col-sm">
          <h2><span class="red">1.</span> Put residents first</h2>
          <h3>Start with residents, not technology. Connect with the community about their needs and expectations, and test and refine solutions with residents.</h3>
          </div>
        </div>
        <div class="row principle-details col-xs-10 col-xs-offset-1 col-lg-10 col-lg-offset-1">
            <div class="col-sm">
              <h4>Research and test with residents</h4>
              <p>Conduct face-to-face research with residents, paired with quantitative data and industry practices. Seek out diverse populations when testing your work.</p>
            </div>
            <div class="col-sm">
              <h4>Create actionable content for residents to lead a full life</h4>
              <p>Shape content that helps residents accomplish their goals and take advantage of what Austin has to offer. Let accessibility and style standards be our guide.</p>
            </div>
            <div class="col-sm">
              <h4>Strengthen public trust with transparency</h4>
              <p>Develop workflows for projects to be "Open by Default." Strive for feedback loops that are frequent, convenient, and inclusive.</p>
            </div>
        </div>
</section>

<section class="page-section" id="prioritize-equity">
        <div class="row principle col-xs-10 col-xs-offset-1 col-lg-10 col-lg-offset-1">
          <div class="col-sm">
          <h2><span class="red">2.</span> Prioritize equity when planning features &amp; functionality</h2>
          <h3>Seek equitable outcomes when improving workflows and technology across city departments to ensure the needs of residents are truly being met.</h3>
          </div>
        </div>
        <div class="row principle-details col-xs-10 col-xs-offset-1 col-lg-10 col-lg-offset-1">
            <div class="col-sm">
              <h4>Prioritize resident needs over budget availability</h4>
              <p>Prioritize projects to provide the greatest value for residents, even when enterprise departments are offering more funding for their specific needs.</p>
            </div>
            <div class="col-sm">
              <h4>Get community feedback on the potential impacts of our actions</h4>
              <p>Check in regularly with community organizations across the city about how we can better serve and represent residents with digital services.</p>
            </div>
            <div class="col-sm">
              <h4>Set aside funds for General Fund departments</h4>
              <p>Dedicate funding each year to improve content and functionality for digital services supporting General Fund departments.</p>
            </div>
        </div>
</section>

<section class="page-section section--gray" id="teams-over-software">
        <div class="row principle col-xs-10 col-xs-offset-1 col-lg-10 col-lg-offset-1">
          <div class="col-sm">
          <h2><span class="red">3.</span> Recognize that digital services require teams and competencies, not just software</h2>
          <h3>Support research, design, delivery, and integration with expert teams and by empowering non-traditional designers and technologists.</h3>
          </div>
        </div>
        <div class="row principle-details col-xs-10 col-xs-offset-1 col-lg-10 col-lg-offset-1">
            <div class="col-sm">
              <h4>Develop a shared strategy for how to support digital services</h4>
              <p>A document articulating our shared goals, how we’re going to accomplish them, who we need on our teams, and how we’ll be held accountable to reaching those goals.</p>
            </div>
            <div class="col-sm">
              <h4>Build digital services teams and improve workflows</h4>
              <p>Build teams of experts to create shared resources in order to meet digital service goals for residents, and get other departments to join in the movement.</p>
            </div>
            <div class="col-sm">
              <h4>Identify opportunities for city-wide standards</h4>
              <p>Support templates, training, and standards across departments. Develop guardrails to provide autonomy while ensuring usability, accessibility, and effectiveness.</p>
            </div>
        </div>
</section>

<section class="page-section" id="digital-community">
        <div class="row principle col-xs-10 col-xs-offset-1 col-lg-10 col-lg-offset-1">
          <div class="col-sm">
          <h2><span class="red">4.</span> Cultivate a community of learning</h2>
          <h3>Cultivate learning opportunities for civil servants and residents across disciplines, departments, and sectors.</h3>
          </div>
        </div>
        <div class="row principle-details col-xs-10 col-xs-offset-1 col-lg-10 col-lg-offset-1">
            <div class="col-sm">
              <h4>Invest in shareable, discoverable research</h4>
              <p>Prioritize open solutions so we can share the source code. Provide clear methods for collaboration with digital communities within the City of Austin and beyond.</p>
            </div>
            <div class="col-sm">
              <h4>Contribute to and learn from the broader community</h4>
              <p>Open solutions to comments and code from interested citizens. Encourage collaborative research, design, and development through active community engagement.</p>
            </div>
            <div class="col-sm">
              <h4>Create opportunities for ongoing learning</h4>
              <p>Provide opportunities for personal and professional growth. Empower employees to discover and cultivate new skill sets that align with organizational goals.</p>
            </div>
        </div>
</section>

<section class="page-section section--gray" id="iterative-methods">
        <div class="row principle col-xs-10 col-xs-offset-1 col-lg-10 col-lg-offset-1">
          <div class="col-sm">
          <h2><span class="red">5.</span> Champion iterative, data-informed methods</h2>
          <h3>Adopt an agile approach to technology and workflow design that uses prototyping, testing, and iteration to learn and improve over time, rather than "redesign".</h3>
          </div>
        </div>
        <div class="row principle-details col-xs-10 col-xs-offset-1 col-lg-10 col-lg-offset-1">
            <div class="col-sm">
              <h4>Establish safe spaces for prototyping &amp; testing</h4>
              <p>Cultivate a supportive technical and cultural environment in which new ideas can flourish. Empower trailblazers with tools to set clear success metrics, gather insight and data from potential solutions.</p>
            </div>
            <div class="col-sm">
              <h4>Empower staff to document and share the problems they’re finding and possible solutions</h4>
              <p>Encourage employees to document and share performance metrics, challenges, and corresponding solutions as they find them. Provide tools for teams to establish clear documentation on how to improve.</p>
            </div>
            <div class="col-sm">
              <h4>Create and support modular, reusable components across departments</h4>
              <p>Develop solutions that can be useful across departments and initiatives. Avoid redundant systems  and “reinventing the wheel” with a repository of modular, reusable components.</p>
            </div>
        </div>
</section>


<section class="page-section" id="resident-value-vendors">
        <div class="row principle col-xs-10 col-xs-offset-1 col-lg-10 col-lg-offset-1">
          <div class="col-sm">
          <h2><span class="red">6.</span> Support vendors that can prove value to residents</h2>
          <h3>Choose software one piece at a time, and avoid contracts that lock us into specific solutions, contractors, or vendors. Default to open source.</h3>
          </div>
        </div>
        <div class="row principle-details col-xs-10 col-xs-offset-1 col-lg-10 col-lg-offset-1">
            <div class="col-sm">
              <h4>Break procurements into three-month chunks</h4>
              <p>We should never need to wait a year or more to see working software. Set up evaluations every three months to check if a product actually works for residents and be ready to iterate if it doesn't.</p>
            </div>
            <div class="col-sm">
              <h4>Solve current problems and learn what works</h4>
              <p>Focus development time on solving the key issues that are being experienced, and don’t get distracted by a ten-year plan.   </p>
            </div>
            <div class="col-sm">
              <h4>Avoid vendor lock-in</h4>
              <p>Change contracts and processes to challenge our reliance on proprietary software and other systems that can reduce our ability to scale, upgrade, or negotiate in the future. </p>
            </div>
        </div>
</section>

<section class="page-section section--gray">
  <h4>&nbsp;</h4>
</section>



<section class="page-section" id="values">
  <div class="container">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-lg-10 col-lg-offset-1">

        <div class="row principles-intro">
          <div class="col-sm">
            <h1>Values</h1>
            <h4>Working in government can be challenging, and our values help us stay aligned on what’s most important. We foster these values on our teams and we look for them in our applicants, vendors, and collaborators.</h4>
          </div>
        </div>

        <div class="row values-list">

            <div class="col-sm">
              <h4 class="value">Open by default.</h4>
              <p>Hard problems are solved through collaboration and diverse community. We use and build open source code by default, and actively share our learnings and methods through lunch-and-learns, meetups, and Medium.</p>

              <h4 class="value">Frame the problem first.</h4>
              <p>The core problems in an issue area are often unclear, especially early on in a project. We take time to understand what needs to be solved before coming up with solutions.</p>

              <h4 class="value">Everyone has positive intent.</h4>
              <p>Communication is hard.  By assuming our peers want what is best, we believe we can find the best in them.</p>

              <h4 class="value">Strong opinions, loosely held. </h4>
              <p>It’s important to have confidence and passion in our arguments. It’s also important to consider that you might be wrong, and to be honest and respectful in all disagreements. We work from an understanding that everyone has different, though complementary, problem solving styles. </p>

              <h4 class="value">Balance short-term wins and long-term outcomes.</h4>
              <p>We believe that every technical decision has alternative solutions and we must balance between shipping quickly and shipping cautiously. We think through long-term possibilities, opportunities, and consequences for our short-term goals.</p>
            </div>


            <div class="col-sm">

              <h4 class="value">Default to action.</h4>
              <p>We believe in the cycle of Learning and Doing to move projects and ideas forward. Sometimes the best way to learn about a problem is to test out possible solutions.</p>

              <h4 class="value">Ask for help.</h4>
              <p>We’re funded by taxpayers, so it’s <u>not</u> ok to &#34;fake it till you make it.&#34; If you don’t understand a process, method, or idea, ask for help. Everyone has their own talents, skills, and knowledge, and no one benefits if we don’t allow ourselves to share them.</p>

              <h4 class="value">Everyone has something to teach. </h4>
              <p>We believe that teaching compassionately helps us learn. We all have room to grow across many types of skills. We believe our team members aren’t expected to know everything, and we support them when they are stuck.</p>

              <h4 class="value">Learning is ongoing.</h4>
              <p>We believe that passionate curiosity drives exceptional work. There are no such thing as experts, only fast learners.</p>

              <h4 class="value">Work should be fun.</h4>
              <p>The best work comes from a place of curiosity, passion, and joy. We take time support each other in doing great work for residents and being our fullest possible selves inside and outside of the office. </p>

            </div>

        </div>
</div>
</div>
</div>
</section>
