---
layout: default
---
<section class="page-header center-xs">
  <div class="container col-lg-offset-2 col-lg-8 col-xs-10 col-xs-offset-1">
    <div class="row">
      <div class="col-xs">
        <h1>What we're working on</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs lede">
        <p>Learn more about our projects</p>
      </div>
    </div>
  </div>
</section>

<!-- START TILES -->

<section class="page-section col-lg-10 col-lg-offset-1 col-xs-10 col-xs-offset-1" id="project-rows">
    <div class="row">




<div class="tile tile--project col-xs-12 col-sm-10 col-sm-offset-1 col-md-offset-0 col-md-4">
  <a class="tile-link"  href="http://projects.austintexas.io/projects/austin-digital-services-discovery/" title="Digital Services Transformation"></a>
  <div class="tile-outline">
    <div class="tile-img" style="background-image: url('http://projects.austintexas.io/assets/img/projects/digital-services-discovery/techstack.jpg')"></div>
    <div class="tile-text">
      <h3 class="tile-title">
        Digital Services Transformation

          <span class="tile-subtitle">with Austin Resource Recovery, EMS, and departments across the City</span>

      </h3>


        <p class="tile-excerpt">Building living digital services that grow and adapt to resident needs</p>

    </div>
  </div>
</div>


<div class="tile tile--project col-xs-12 col-sm-10 col-sm-offset-1 col-md-offset-0 col-md-4">
  <a class="tile-link"  href="http://projects.austintexas.io/projects/permitting-initiative/" title="Making Permitting Work for Austin"></a>
  <div class="tile-outline">
    <div class="tile-img" style="background-image: url('http://projects.austintexas.io/assets/img/projects/permitting/permitting.png')"></div>
    <div class="tile-text">
      <h3 class="tile-title">
        Making Permitting Work for Austin

          <span class="tile-subtitle">with Development Services Department</span>

      </h3>


        <p class="tile-excerpt">We’re working with staff in departments across the City to illustrate the permitting experience from our users’ perspectives and identify how technology can help us meet increasing demands.</p>

    </div>
  </div>
</div>


<div class="tile tile--project col-xs-12 col-sm-10 col-sm-offset-1 col-md-offset-0 col-md-4">
  <a class="tile-link"  href="http://projects.austintexas.io/projects/atxfloods/" title="Improving Alerts for Flooded Roadways"></a>
  <div class="tile-outline">
    <div class="tile-img" style="background-image: url('http://projects.austintexas.io/assets/img/projects/atxfloods/atxfloods.jpg')"></div>
    <div class="tile-text">
      <h3 class="tile-title">
        Improving Alerts for Flooded Roadways

          <span class="tile-subtitle">with Watershed Protection Department</span>

      </h3>


        <p class="tile-excerpt">We’re working with Austin’s Watershed Protection Department to improve how ATXfloods provides information about the status of roadway closures to the public and emergency services.</p>

    </div>
  </div>
</div>

<div class="tile tile--project col-xs-12 col-sm-10 col-sm-offset-1 col-md-offset-0 col-md-4">
  <a class="tile-link"  href="http://projects.austintexas.io/projects/SUMMITweek-Winter-2018/" title="SUMMITweek Winter 2018"></a>
  <div class="tile-outline">
    <div class="tile-img" style="background-image: url('http://projects.austintexas.io/assets/img/projects/SUMMITweek-Winter-2018/summitweek-logo.jpg')"></div>
    <div class="tile-text">
      <h3 class="tile-title">
        SUMMITweek Winter 2018

          <span class="tile-subtitle">A week of workshops, guest speakers, and knowledge-sharing</span>

      </h3>


        <p class="tile-excerpt">SUMMITweek gathers our design, technology, and innovation teams to get us aligned on projects and practices across our disciplines.</p>

    </div>
  </div>
</div>


<div class="tile tile--project col-xs-12 col-sm-10 col-sm-offset-1 col-md-offset-0 col-md-4">
  <a class="tile-link"  href="http://projects.austintexas.io/projects/vision-zero-waste/" title="Vision Zero Waste"></a>
  <div class="tile-outline">
    <div class="tile-img" style="background-image: url('http://projects.austintexas.io/assets/img/projects/zero-waste/vision-zero-waste.jpg')"></div>
    <div class="tile-text">
      <h3 class="tile-title">
        Vision Zero Waste

          <span class="tile-subtitle">with Austin Resource Recovery</span>

      </h3>


        <p class="tile-excerpt">We’re working with Austin Resource Recovery to research behaviors around recycling and composting and prototype new solutions that can help us reach our zero-waste goals.</p>

    </div>
  </div>
</div>


<!-- STOP TILES -->

</div>
</section>
